.terminal-box {
  background-color: #000;
}

/* Flat style for headerbar and nested-list. */
.nested-list {
  background: none;
  box-shadow:none;
}

/* Distinction for a selected */
.selected-card {
  background: var(--accent-bg-color);
}

/* Match outline of buttons */
.extended-outline {
  outline-offset: 2px;
}

.list-view-box {
  background: transparent;
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-radius: 12px;
}

.separated-list-view {
  background: transparent;
}

.separated-list-view row{
  padding: 0px;
}

.separated-list-view row > *{
  background: var(--card-bg-color);
  color: var(--card-fg-color);
  padding: 18px;
}
