@define-color shaded_card_bg_color shade(@card_bg_color, .95);

scrolledwindow.scrollbar > scrollbar > range > trough {
  background: 0;
}

.terminal-box {
  background-color: #000;
}

/* flat style does not seem to work, this is a fallback */
headerbar {
  background: none;
  box-shadow:none;
}

.scrollable-container row {
  border-top: 1px solid @borders;
}

.scrollable-container row:first-child {
  border-top: 0px;
}

.scrollable-container > scrolledwindow undershoot.top {
  background: linear-gradient(to bottom, alpha(@shaded_card_bg_color, 0.7) 0px, alpha(@shaded_card_bg_color, 0) 18px);
}
.scrollable-container > scrolledwindow undershoot.bottom {
  background: linear-gradient(to top, alpha(@shaded_card_bg_color, 0.7) 0px, alpha(@shaded_card_bg_color, 0) 18px);
}

.rounded-first row:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.rounded-last row:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
