@define-color shaded_card_bg_color shade(@card_bg_color, .95);

scrolledwindow.scrollbar > scrollbar > range > trough {
  background: 0;
}

.terminal-box {
  background-color: #000;
}

/* flat style does not seem to work, this is a fallback */
headerbar {
  background: none;
  box-shadow:none;
}

.scrollable-container scrolledwindow {
  background-color: shade(@shaded_card_bg_color, .95);
}

.scrollable-container list {
  background: none;
}

.scrollable-container row {
  background: @card_bg_color;
  border-top: 1px solid @borders;
  padding: 6px 3px;
}

.scrollable-container row:first-child {
  border-top-width: 0px;
}

.scrollable-container > scrolledwindow undershoot.top {
  background: linear-gradient(to bottom, alpha(@shaded_card_bg_color, 0.7) 0px, alpha(@shaded_card_bg_color, 0) 18px);
}
.scrollable-container > scrolledwindow undershoot.bottom {
  background: linear-gradient(to top, alpha(@shaded_card_bg_color, 0.7) 0px, alpha(@shaded_card_bg_color, 0) 18px);
}
