scrolledwindow.scrollbar > scrollbar > range > trough {
  background: 0;
}

.terminal-box {
  background-color: #000;
}

/* flat style does not seem to work, this is a fallback */
headerbar {
  background: none;
  box-shadow:none;
}

.scrollable-container scrolledwindow {
  background-color: shade(@card_bg_color, .95);
}

.scrollable-container list {
  background: none;
}

.scrollable-container row {
  background: @card_bg_color;
  border-top: 1px solid @borders;
  padding: 6px 3px;
}

.scrollable-container row:first-child {
  border-top-width: 0px;
}
